* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	font-family: "Arial", sans-serif;
}

.post-box {
	width: 500px;
	margin-top: 50px;
	padding: 15px;
	border:  1px solid #ccc;
}

.post-box h1 {
	margin-bottom: 15px;
	font-size: 25px;
	text-align: center;
	text-transform: uppercase;
}

.post {
	margin-bottom: 15px;
	padding: 5px;
	background: #eee;
}

.comment-list {
	margin-top: 18px;
}

.comment-list h2 {
	margin-bottom: 5px;
	font-size: 18px;
	text-transform: uppercase;
}

.comment {
	margin-bottom: 5px;
	padding: 5px;
	background: #d6d6d6;
}

.comment-name {
	margin-bottom: 5px;
	font-weight: bold;
}