<div *ngIf="!isUserLoaded">
  <h3 class="text-center">Loading...</h3>
</div>

<div class="m-3" *ngIf="isUserLoaded">
  <div class="row p-3">
    <div class="col-md-1">
      <button class="btn btn-primary" (click)="goBack()">Back</button>
    </div>
  </div>

  <div class="">
    <div class="">
      {{user.name}}
    </div>

  </div>
</div>

<div *ngIf="!isUserTweetsLoaded">
  <h3 class="text-center">Loading Tweets...</h3>
</div>

<div class="m-3" *ngIf="isUserTweetsLoaded">
  <h3 class="text-center">User tweets:</h3>

  <div class="row">
    <div class="col-md-6 col-sm-6" *ngFor="let tweet of userTweets">
      <div class="card m-3">
        <div class="card-header">
          <h4 class="card-title">
            #{{tweet.id}} {{tweet.title}}
          </h4>
        </div>

        <div class="card-body">
          <p class="card-text">
            {{tweet.body}}
          </p>
        </div>

        <div class="card-footer bg-transparent">
          <a href="#" (click)="onDetailsClick($event, tweet.id)" class="btn btn-primary">Details</a>
          <a href="#" (click)="onDeleteClick($event, tweet.id)" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>

