<div *ngIf="!isUserLoaded">
  <h3 class="text-center">Loading...</h3>
</div>

<div class="m-3" *ngIf="isUserLoaded">
  <div class="row p-3">
    <div class="col-md-1">
      <button class="btn btn-primary" (click)="goBack()">Back</button>
    </div>
  </div>

  <img
    className="float-left m-3"
    class="user-img"
    src="https://avatars2.githubusercontent.com/u/5502029?v=4"
    alt="User avatar"
    />
    <div className="mt-3 mb-3 ml-5 mr-5">
      <h3 className="card-text">Username: {{user.name}}</h3>
      <h5>Email: {{user.email}}</h5>
      <h5>Addrres: {{user.address.street}} {{user.address.suite}}</h5>
    </div>
</div>

<div *ngIf="!isUserTweetsLoaded">
  <h3 class="text-center">Loading Tweets...</h3>
</div>

<div class="m-3" *ngIf="isUserTweetsLoaded">
  <h3 class="text-center">User tweets:</h3>

  <div class="row">
    <div class="col-md-6 col-sm-6" *ngFor="let tweet of userTweets">
      <div class="card m-3">
        <div class="card-header">
          <h4 class="card-title">
            #{{tweet.id}} {{tweet.title}}
          </h4>
        </div>

        <div class="card-body">
          <p class="card-text">
            {{tweet.body}}
          </p>
        </div>

        <div class="card-footer bg-transparent">
          <a href="#" (click)="onDetailsClick($event, tweet.id)" class="btn btn-primary">Details</a>
          <a href="#" (click)="onDeleteClick($event, tweet.id)" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>
