<div class="container">
  <app-add-tweet-form (addNewTweet)="onAddNewTweet($event)"></app-add-tweet-form>

  <div class="row" *ngIf="isDataLoaded">
    <div class="col-md-8 mr-auto ml-auto">
      <app-tweet *ngFor="let tweet of tweetList"
                 [tweet]="tweet"
                 [comments]="getCommentsForTweet(tweet.id)"
                 (updateTweet)="onUpdateTweet($event)"
                 (deleteTweet)="onDeleteTweet($event)"
                 (addNewComment)="onAddNewComment($event)"
                 (updateComment)="onUpdateComment($event)"
                 (deleteComment)="onDeleteComment($event)">
      </app-tweet>
    </div>
  </div>
</div>
