<div class="container">
  <h3 class="m-3 text-center">Post new tweets</h3>

  <form class="m-2" [formGroup]="addTweetForm" (ngSubmit)="onSubmit(addTweetForm.value)">
    <div class="row justify-content-center">
      <div class="form-group col-md-3">
        <input type="text"
               id="tweet-title"
               class="form-control"
               placeholder="Title"
               [formControl]="addTweetForm.controls['tweetTitle']"
        />
        <div *ngIf="addTweetForm.controls['tweetTitle'].errors && addTweetForm.controls['tweetTitle'].touched"
             class="alert alert-danger">
          Please, enter tweet title.
        </div>
      </div>

      <div class="form-group col-md-5">
        <input type="text"
               id="tweet-body"
               class="form-control"
               placeholder="Text"
               [formControl]="addTweetForm.controls['tweetBody']"
        />

        <div *ngIf="addTweetForm.controls['tweetBody'].errors && addTweetForm.controls['tweetBody'].touched"
             class="alert alert-danger">
          Please, enter tweet text.
        </div>
      </div>

      <div class="form-group col-md-5">
        <select
          id="weet-owner"
          [formControl]="addTweetForm.controls['tweetOwner']"
        >
          <option *ngFor="let user of usersList" value="{{user.id}}">{{user.id}} {{user.name}}</option>
        </select>
        <div *ngIf="addTweetForm.controls['tweetOwner'].errors && addTweetForm.controls['tweetOwner'].touched"
             class="alert alert-danger">
          Please, choose tweet owner.
        </div>
      </div>

      <div class="col-md-1">
        <button type="submit"
                class="btn btn-danger"
                [disabled]="addTweetForm.invalid">
          Post
        </button>
      </div>
    </div>
  </form>
</div>
