<form class="mt-3" [formGroup]="addCommentForm" (ngSubmit)="onSubmit(addCommentForm.value)">
  <div class="row">
    <div class="form-group col-lg-3 col-md-12 col-sm-12">
      <input type="text"
             id="comment-title"
             class="form-control"
             placeholder="Title"
             [formControl]="addCommentForm.controls['commentTitle']"
      />
      <div *ngIf="addCommentForm.controls['commentTitle'].errors && addCommentForm.controls['commentTitle'].touched"
           class="alert alert-danger">
        Enter comment title.
      </div>
    </div>

    <div class="form-group col-lg-5 col-md-12 col-sm-12">
      <input type="text"
             id="comment-body"
             class="form-control"
             placeholder="Text"
             [formControl]="addCommentForm.controls['commentBody']"
      />
      <div *ngIf="addCommentForm.controls['commentBody'].errors && addCommentForm.controls['commentBody'].touched"
           class="alert alert-danger">
        Enter comment text.
      </div>
    </div>

    <div class=" col-lg-2 col-md-12 col-sm-12">
      <button type="submit"
              class="btn btn-success"
              [disabled]="addCommentForm.invalid">
        Add comment
      </button>
    </div>
  </div>
</form>
